.slide-up {
  animation: slideup 0.5s ease  ;
  position: relative;
}
@keyframes slideup {
  from {
    top: 80vh;
    opacity: 0.0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
.slide-up-wrapper{
  height: 100vh;
  position: relative;
  overflow: hidden;
}